
@font-face {
  font-family: 'OpenSans';
  src:url('../fonts/OpenSans-Regular.ttf'),
      url('../fonts/OpenSans-Bold.ttf'),
      url('../fonts/OpenSans-Light.ttf')
      url('../fonts/OpenSans-Semibold.ttf'); 
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.ttf'); 
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.ttf'); 
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.ttf'); 
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf'); 
}


  
*
{
	margin:0px;
	padding:0px;
	outline:none;
}

body
{
	  font-family:"OpenSans",sans-serif;
	  color:#4f4f4f;
	  font-size:12px;
          margin:0; padding:0;
	  background-color:#F3F3F3;
}
h1, h2, h3, h4, h5, h6{ margin:0px; font-family: 'OpenSans-Light'; }
/*Padding*/
.null-padding{padding:0px;}
.full-padding-10{padding:10px}
.full-padding-15{padding:15px}
.full-padding-20{padding:20px}
.padding-5{padding-left:5px; padding-right:5px}
.padding-10{padding-left:10px; padding-right:10px}

/*Text Color*/

.txt-blue{ color:#00AFF0 !important;}
.txt-red{color:#FF5454;}
.txt-green{color:#00CC00;}
.txt-cyan{color:#00aff0;}
.txt-big{ font-size:16px;}

/*Background color*/
.bg-blue{ background-color:#00aff0 !important; color:#fff;}
.bg-gray{background-color:#666666 !important;}
.bg-dark-gray{ background-color:#0f0f0f !important;}
.bg-white{ background-color:#fff !important;}

/*Border / Border Color*/

.border-blue{ border-color:#00aff0 !important;}
.border-white{ border-color:#fff !important;}
.border-solid{ border:3px solid #666;}

/*Other*/

.exp-header{ background-color:#fff; height:60px; box-shadow:0px 1px 3px rgba(102,102,102,0.3); position:relative; z-index:11;}
.exp-logo{ font-size:25px; line-height:60px; font-family: 'OpenSans-Semibold';}
.exp-menu{ text-align:right;}
.exp-menu ul{ margin-bottom:0px;}
.exp-menu ul li{ display:inline-block;}
.exp-menu ul li a{ display:block; padding:0px 5px; line-height:60px; text-decoration:none; color:#999; font-size:14px;}
.exp-menu ul li a:hover, .exp-menu ul li a:focus{ color:#00aff0;}
.exp-search{ padding-top:15px;}
.carousel-inner .item img{ max-height:400px; width:100%;}
.exp-slider{ border-bottom:1px solid #0b85b3;}
.exp-main-container{ background-color:#FFF; min-height:200px; padding-top:40px; padding-bottom:30px;}
.exp-main-container p{ font-size:16px; text-align:center; margin-top:20px;}
.dropdown-menu{ padding:10px; }
.dropdown-menu li{ width:100%;}
.dropdown-menu li a{ font-size:10px !important; padding:0px !important; line-height:0px  !important;}
.exp-service-containe{ margin-top:30px;}
.user-img{ border-radius:50%; width:30px; height:30px; margin-right:5px;}
.exp-image{ text-align:center;  background-color:#fff; padding:30px; border:1px solid #d7d7d7; margin-bottom:20px;}
.exp-image img{ width:100%; max-height:220px;}
.exp-section p{ text-align: justify !important; font-size:13px; color:#666;}
.exp-section ul{ margin-bottom:0px; margin-top:20px;}
.exp-section ul li{ display:block; padding:5px 0px;}
.exp-section ul li a{ display:block; color:#999;}
.exp-section ul li a:before{ content: ""; background-image:url(../images/list.png); margin-right:15px; vertical-align:bottom; display:inline-block; width:20px; height:20px; background-size:100% 100%;}
.exp-section ul li a:hover{color:#00aff0;}
.exp-footer{min-height:50px; border-top:4px solid #00aff0; background:#2b5464; color:rgba(255,255,255,0.5); line-height:50px;}
.exp-footer ul{ margin-bottom:0px; text-align:right;}
.exp-footer ul li{display:inline-block;}
.exp-footer ul li a{ display:block; margin-left:10px; color:inherit;}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-left {
    padding-right: 10px;

}
.media-body p{ color:#666; text-align:left; font-size:14px; margin-top:5px;}

.event-date a{ display:block; width:70px; height:70px; background-color:#5bbfe3; color:#fff; font-size:30px; text-align:center; text-decoration:none; padding-top:8px;}
.event-date a span{ font-size:15px; display:block; margin-top:-10px;}
.event-time{ color:#aaa;}
.fc-calendar .fc-head , .custom-header nav span:before{ color:#5BBFE3;}
.fc-calendar .fc-row > div.fc-today{ background-color:#5BBFE3;}

.exp-dropdown-menu{ text-align:center !important;}
.exp-dropdown-menu>li{ border-bottom:1px solid #d7d7d7; padding:15px 0px;}
.exp-dropdown-menu>li:last-child{ border-bottom:0px; }
.exp-dropdown-menu>li>a{ font-size:12px !important; }

.exp-company-profile{ background:#fff; padding:10px 20px; border:#d7d7d7 1px solid;}
.exp-company-profile h3 ,.exp-company-profile h4{ margin-bottom:20px;}
.exp-company-profile .form-control{ border:none; outline:none; box-shadow:none; border-bottom:1px dotted #BFBFBF; border-radius:0px; height:22px; padding:0;}
.exp-company-profile .form-control:focus{ border-bottom:1px dotted #242424; }
input[type="radio"], input[type="checkbox"] {
    margin: 1px 0 0;
   
   
}

::-webkit-input-placeholder {
   color: #ccc !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc !important;
}

:-ms-input-placeholder {  
   color: #ccc !important;
}

.exp-company-list1{  max-height:40vh;}
.exp-company-list{ font-size:12px; margin:-10px -20px -10px; max-height:60vh; overflow-y:auto;}
.exp-company-list ul{ margin-bottom:0px; list-style:decimal inside; }
.exp-company-list ul li a{ display:block; text-decoration:none; padding:10px 8px; border-top:1px dotted #5bbfe3; color:#aaa;}
.exp-company-list ul li a:hover, .exp-company-list ul li a:focus{ background-color:#5bbfe3; color:#fff;}	
/*.exp-table tr th{ background-color:#666666; color:#fff;}*/
.exp-table tr td{ border-top:0px; font-size:14px;}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 0px;
}
.mCSB_inside > .mCSB_container {
    margin-right: 0px;
}
.exp-company-list1{  max-height:52vh;}
.exp-search-list{  border-top:1px solid #5bbfe3; border-bottom:1px solid #d7d7d; padding:10px 0px; margin-top:-10px;}
.exp-search-list .form-control{ border:1px solid #d7d7d7; border-radius:5px; height:30px;}
.input-group-addon{ background-color:#fff;}

.dataTables_length{ display:inline-block;}
.dataTables_length select{ border:1px solid #d7d7d7;}
.dataTables_filter{ display:inline-block; float:right;}
.dataTables_filter input{ border:1px solid #d7d7d7;}
.dataTables_paginate a { padding:5px 10px; cursor:pointer; background:#fff; margin:0px 5px; border:1px solid #d7d7d7; color:inherit; text-decoration:none;}
.dataTables_paginate a:hover , .dataTables_paginate a:focus{ background-color:#242424; color:#fff;}
.exp-tables{ padding-top:20px; padding-bottom:20px; border-bottom:1px solid #d7d7d7;}
.exp-tables:last-child{ border:none;}
.exp-tables h3{ margin-bottom:20px; color:#666;}
.exp-tables h4{ margin-bottom:20px; color:#666;}
.dataTable input[type="text"]{ width:100%;}
.form-control-static{ margin-top:0px !important; font-size:12px !important; text-align:left !important; color:#b3b3b3;}
.filter-bar .form-control{ border:1px solid #d7d7d7;}
.filter-bar .form-control:focus{ border:1px solid #d7d7d7;}
.company-list{ max-height:200px; padding:0px; margin:0px;}
.company-list li a{ display:block !important; line-height:2em !important; font-size:12px !important ; padding:5px !important;}
.company-list li a:hover{ background-color:#00aff0 ; color:#fff; }
.exp-main-container{ border-top:#d7d7d7 1px solid;}
.border-top0{ border-top:none !important;}
.filter-bar button{ border:none; font-size:14px;}
.padding-top0{ padding-top:0px;}
.exp-edit , .exp-addRow-btn, .exp-delete-btn{ display:none;}
.table.dataTable tbody tr.selected{ background-color:#D3F1FF;}


.exp-select select {
    min-width:150px;
   background-color:transparent;
    color:#000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	border:1px solid #d7d7d7;
	padding:1px 5px;
	font-weight:400;
}

.exp-select option{ color:#666;} 

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.exp-select select {padding-right:18px}
}

.exp-select label {position:relative; margin-bottom:0px;}
.exp-select label:after {
    content:'>';
    font:11px "Consolas", monospace;
    color:#000;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:4px;
    padding:0 0 2px;
    
    position:absolute;
    pointer-events:none;
}
.exp-select label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
   /* background:#f8f8f8;*/
    position:absolute;
    pointer-events:none;}
    
#exp-link{ text-align:center;}
#exp-link a{ color:#fff; padding:10px !important;  display:block !important; background-color:#5bc0de !important; border-color: #269abc !important;  border-radius:5px;}

#exp-link a:hover{  background-color:#31b0d5 !important;}
#exp-link a:after , #exp-link a:before { display:none;}

.dataTable .exp-select select{ min-width:120px;}

.dataTable input { padding:1px 3px; border-radius:0px; }

.div-table{ display:table-column-group;}
.div-table .div-cell{ display:table-cell; width:6%; padding:5px; border-left:1px solid #d7d7d7; border-bottom:0px; border-top:0px;}
.div-table .div-cell:first-child{ border-left:0px;}
.div-table .div-cell input , .div-cell label select{width:100%; height:20px; border:1px solid #d7d7d7;}
.div-row{ border:1px solid #d7d7d7}
.div-cell label{ display:block; width:100%; margin-bottom:0px;}
.div-table .div-cell input[ type="checkbox"]{ width:15px; height:15px;}
.border-0{ border:0px !important;}